{% extends '/backend/dashbase.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h3>Nouveau Produit</h3>

    {{ include('backend/produit/_form.html.twig') }}

    
{% endblock %}
