<!DOCTYPE html>
<html>
    <head>
        	<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FreshMart - Organic, Fresh Food, Farm Store HTML Template</title>
		
		<meta name="keywords" content="Organic, Fresh Food, Farm Store">
		<meta name="description" content="FreshMart - Organic, Fresh Food, Farm Store HTML Template">
		<meta name="author" content="tivatheme">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="asstes/img/favicon.png" type="image/png">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        {{ include("frontend/links/__linkcss.html.twig") }}
        {% block stylesheets %}
        
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body   class="home home-2">
    	
		<div id="all"> 
            {% include "frontend/links/navbar.html.twig" %}
            {% block body %}
            
            {% endblock %}
            {% include "frontend/links/footer.html.twig" %}
            {% include "frontend/links/__linkjs.html.twig" %}
        </div>
        
    </body>
</html>
